*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse Files
.classpath
.project
.settings

# Gradle intermediate files
gradle/
gradlew
gradlew.bat
.gradle
build
/bin


# IntelliJ files
.idea
superfactory.iml